$backgroundColor: #ecf0f5;
$buttonColorPrimary: #3a7ca5;
$textColorPrimary: rgb(109, 117, 135);

.logo {
  background-image: url('../Assets/logo2.png');
  // padding: 2%;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0px 0px 2px #fff4f4, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
}
.title {
  text-align: center;
  font-size: 27px;
  padding-top: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  text-shadow: 1px 1px 1px #242936;
  color: #ec4c4c;
}
.sub-title {
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  letter-spacing: 3px;
}

// .fields {
//   width: 80%;
//   padding: 75px 5px 5px 5px;
//   margin: auto;
// }

// .username,
// .password {
//   margin-bottom: 30px;
//   border-radius: 25px;
//   box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff !important;
// }

// .fields input {
//   border: none;
//   outline: none !important;
//   background: none !important;
//   font-size: 17px;
//   box-shadow: none;
//   color: #555;
//   padding: 16px 0px 18px 1vw;
//   margin: 0;
//   width: 66%;
// }
// .fields svg {
//   padding-left: 2%;
//   height: 23px;
//   fill: #857d7d !important;
// }

.signin-button {
  outline: none !important;
  border: none !important;
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #ec4c4c;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
}

.signin-button:hover {
  background: #d62e2e;
}
.signin-button:active {
  background: #d62e2e;
}

.mainContainer {
  display: block;
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  background-color: $backgroundColor;
  // z-index: 0;

  .loginContainer {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto !important;
    justify-content: space-around;
  }

  .login-div {
    width: 85%;
    height: 90%;
    margin: auto;
    padding: 60px 0px 0px 0px;
    border-radius: 40px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  }
  .fields {
    width: 100%;
    // border: 2px solid red;
    padding-top: 6vh;
  }
  .username,
  .password,
  .buttonDiv {
    border-radius: 25px;
    width: 70%;
    height: 7vh;
    margin: auto;
    padding: 0vh;
    margin-bottom: 5vh;

    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff !important;
  }
  .eachBox {
    // border: 2px solid black;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  i,
  input {
    width: 100%;
    height: 100%;
  }
  input {
    padding-left: 0;
    margin-left: 0;
  }
  i {
    margin-top: 2.8vh;
    margin-left: 0.2vw;
  }
}
.socialMedia {
  margin: 0;
  padding: 0;
  // border: 2px solid black;
  justify-content: space-around;
  border-radius: 25px;
  width: 60%;
  height: 7vh;
  margin: auto;
  margin-top: 7vh;
  padding: 0vh;
  margin-bottom: 5vh;

  .eachSocialBox {
    width: 50px !important;
    cursor: pointer;
    justify-content: space-around;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #fff4f4, 0px 0px 0px 5px #ecf0f3,
      8px 8px 15px #a2a4a7, -8px -8px 15px #ffffff;

    i {
      margin-left: -0.5px;
    }

    &:hover:nth-child(1) {
      color: #df4930;
      box-shadow: 0px 0px 2px #df4930, 0px 0px 0px 5px #ecf0f3,
      8px 8px 15px #df4930, -8px -8px 15px #ffffff;
    }
    &:hover:nth-child(2) {
      color: #507cc0;
      box-shadow: 0px 0px 2px #507cc0, 0px 0px 0px 5px #ecf0f3,
      8px 8px 15px #507cc0, -8px -8px 15px #ffffff;
    }
    &:hover:nth-child(3) {
      color: #F24B55;
      box-shadow: 0px 0px 2px #F24B55, 0px 0px 0px 5px #ecf0f3,
      8px 8px 15px #F24B55, -8px -8px 15px #ffffff;
    }
  }
}
